*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  background: rgb(23, 23, 23);
  font-family: 'Orbitron', sans-serif;
  font-weight: lighter;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

a{
  text-decoration: none;
  font-weight: normal;
  font-size: 30px;
  text-shadow: 3px 3px 3px black;
  color: rgb(139, 132, 126);
}

a:hover{
  color: rgb(230, 110, 13);
}

/* ********************** */
/* HEADER */
/* ********************** */

header{
  color: rgb(230, 110, 13);
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header a{
  text-decoration: none;
  font-weight: normal;
  font-size: 30px;
}

.headercontainer{
  height: 97px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.headername{
  font-size: 26px;
  opacity: 0;
}

.headerhome{
  opacity: 0;
}

.headerspace{
  max-width: 30%;
  min-width: 5%;
}

/* bordi per effetto */

.headerbordercontainer{
  height: 3px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.headerborder{
  width: 45%;
  height: 3px;
  background-color: rgb(230, 110, 13);
  animation: spawn-border 1s linear;
}

@keyframes spawn-border{
  0%{
    width: 1px;
  }
}

/* ********************** */
/* FINE HEADER */
/* ********************** */

/* ********************** */
/* MAIN */
/* ********************** */

main{
  height: calc(100% - 100px);
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  flex-wrap: wrap;
}

.progettocontainer{
  text-align: center;
  font-size: 25px;
  color: rgb(139, 132, 126);
  text-shadow: 3px 3px 3px black;
  padding: 20px;
}

.progettocontainer:hover{
  color: rgb(230, 110, 13);
}

h2{
  opacity: 0;
}

.progettocontainer h2:hover{
  cursor: pointer;
}

.progetto{
  height: 200px;
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 40px 10px 10px 10px;
  border-radius: 10px;
  background-size: cover;
  opacity: 0;
}

.progetto:hover{
  cursor: pointer;
}

.progetto a{
  background-color: rgb(23, 23, 23);
  border-radius: 10px;
  color: rgb(139, 132, 126);
  padding: 10px;
  font-size: 18px;
  text-shadow: none;
  opacity: 0;
  transition: opacity 1s;
  border: 2px solid rgb(139, 132, 126);
}

.progetto:hover a{
  opacity: 1;
}
.progetto a:hover{
  border: 2px solid rgb(230, 110, 13);
  color: rgb(230, 110, 13);
}

@media screen and (max-width: 415px){

  header{
    align-items: center;
  }

  .headercontainer{
    width: 86%;
  }

  .headername{
    font-size: 14px;
  }

  .headerhome a{
    font-size: 24px;
  }

  main{
    justify-content: center;
  }

  .progettocontainer{
    padding: 0;
  }

  .progetto{
    width: 320px;
  }

  .progetto a{
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    background: rgba(23,23,23,0.8);
  }

  .progetto a:last-child{
    display: none;
  }
}
